services:
  postgres:
    image: postgres:15
    container_name: mini-crm-postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mini_crm
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
